<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>简单计算器</title>
  </head>
  <body>
    <h2>简单计算器</h2>
    <div id="app">
      数值A <input type="text" v-model="A" /><br />
      数值B <input type="text" v-model="B" /><br />
      <button @click="cal">计算</button>
      <p>计算结果:{{result}}</p>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        A: 0,
        B: 0,
        result: 0,
      },
      methods: {
        cal: function () {
          this.result = parseInt(this.A) + parseInt(this.B);
        },
      },
    });
  </script>
</html>
